@tailwind base;
@tailwind components;
@tailwind utilities;
button{
    margin:1rem;
    padding:0.5rem 0.5rem;
    border: solid yellow 3px;
    width: 7rem;
    border-radius: 7px;
    cursor: pointer;
    font-size: 30px;
    
}
